@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Lato:wght@300&family=Roboto:ital,wght@0,300;1,100&display=swap');

.img-fluid {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  margin: auto;
}

.form {
  margin-top: 50px;
  align-items: center;
  margin-bottom: 100px;
}

.h1-title {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  letter-spacing: 5px;
  margin-top: 15px;
}

.input-group {
  text-align: center;
  margin: auto;
  width: 500px;
  margin-top: -15px;
}

