@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Lato:wght@300&family=Roboto:ital,wght@0,300;1,100&display=swap");

.form {
  margin-top: 5rem;
  align-items: center;
  margin-bottom: 5rem;

  &.input-group {
    text-align: center;
    margin: auto;
    width: 50rem;
    margin-top: -1.5rem;
  }

  &.form-control {
    font-size: 2rem;
  }

  &.btn {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .form {
    &.input-group {
      width: 47rem;
    }
  }
}
