<main class="main">
  <table class="main table
  table-bordered is-striped table-hover border-dark">
    <thead>
      <tr>
        <th>Title</th>
        <th>Word Count</th>
        <th>Snipped</th>
      </tr>
    </thead>
    <tbody class="tbody">
      <tr *ngFor="let page of pages">
        <td>
          <a target="_blank" [href]=" 'https://en.wikipedia.org?curid=' + page.pageid ">
            {{ page.title }}
          </a>
        </td>
        <td>{{ page.wordcount }}</td>
        <td [innerHTML]="page.snippet"></td>
      </tr>
    </tbody>
  </table>
</main>
