/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap.scss";

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #eee;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.searchmatch {
  font-weight: bold;
}
